/*---------------------------APP BACKGROUND STYLING*/
html,body { 
  width:100%;
  height:100%;
  overflow: hidden;
}

body {
  background: linear-gradient(to bottom left, #33ccff 5%, #9900cc 100%);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/*---------------------------FONT STYLING*/
p {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: .1em;
    color: #fff;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 60px;
  letter-spacing: .2em;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

h3 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .1em;
  font-size: 15px;
  text-align: center;
}


h4 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .06em;
    font-weight: 400;
    font-size: 20px;
    color: #fff;

}

h5 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .1em;
  font-size: 12px;
}

hr {
  border-top: 1px solid #fff;
  width: 200px;
}

/*CREATE ACCOUNT PAGE*/
/*---------------------------FONT STYLING*/
label {
  color: #fff;
  text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  letter-spacing: .2em;
  font-weight: 600;
}

#photoFile {
    background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  letter-spacing: .1em;
}

legend {
  color: #fff;
   font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .1em;
}

.form-check-label {
  text-transform: capitalize; 
  color: #B0B0B0;
  font-family: 'Raleway', sans-serif;
}

/*---------------------------NAVBAR STYLING*/
.navbar {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.1), 0 17px 50px 0 rgba(0,0,0,0.1);

}

input::-webkit-input-placeholder {
  color: #d3d3d3 !important;
}


.search-field {
  background: rgba(255, 255, 255, 0.5);
  border-style: none;
  border-radius: 20px;
  color: #000;
  width: 70%;
}

.form-inline {
  float: right;
}

.navbar-light .navbar-toggler {
  border-style: none;
}

.fa-bars-connection {
  margin-top: 12px;
  color: #fff;
}

.fa-plus-connection {
  color: #fff;
  margin-left: 15px;
}

.fa-bars-style {
  color: #fff;
    padding: 14px 0 13px 0;
}

.fa-plus-style {
  color: #fff;
  float: right;
   padding: 14px 0 13px 0;

}

/*SIGN IN PAGE*/
/*---------------------------SIGN IN AND SIGN UP FORM STYLING*/
form {
  display: block;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-box-style {
  background: transparent;
  border-width: 2px;
  margin-top: 5px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  letter-spacing: .1em;
}

.form-box-style:focus {
  background: rgba(255, 255, 255, 0.1);
  color: #000;
}

input::-webkit-input-placeholder {
  color:  #B0B0B0 !important;
}

.sign-in-btn {
  background-color:#9370DB;
  color: #fff;
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: .1em;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.sign-in-btn:hover {
  background: #8C6ADD;
}

a, a:hover, a:active {
  color: #fff;
  text-decoration: none;
}

/*PROFILE PAGE*/
/*---------------------------LOCATION STYLING*/

.city h5 {
  position: relative;
  color: lightgrey;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  letter-spacing: .1em;
  font-size: 12px;
}

/*---------------------------HIRE ME SLIDER STYLING*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3cfca9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3cfca9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}

.img-circle {
  display: block;
  width: 120px;
  height: 120px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

#wrapper {
  display: inline-block;
  margin: 0 auto;
}

#bg {
  z-index: -1;
  background: rgba(255, 255, 255, 0.3);
  height: 90%;
  width: 90%;
  top: 0;
  left: 0;
  right: 0;
/*  media queries*/
  bottom: -70px;
  margin: auto;
  border-radius: 10px;
  position: absolute;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.1);
}

.container {
 z-index: 2;
 position: relative;
}

#container-wrap {
 z-index: -3;
 position: relative;
}

#bio {
  overflow-y: scroll;
  height: 200px; 
  text-align: left;
  width: 80%;
  font-size: 14px;
  margin: 0 auto;
}

.fa-linkedin-square, .fa-twitter-square {
  color: #fff;
  margin: 5px;
}

.fa-share-square-o {
  color: #99ff99;
}

/*CONNECTIONS PAGE*/
/*---------------------------SORT BUTTON STYLING*/
.sort-btn {
    background: rgba(255, 255, 255, 0.3);
    border-style: none;
    border-radius: 20px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .sort-btn:hover {
    background-color: #3cfca9;
  }

  /*CARD STYLING*/

  .card-img {
    height: 100%;
    width: 100px;
    border-radius: 50px;
    float: left;
    clear: both;
    border: 3px solid #fff;
  }

  .card-back {
    text-align: left;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
    padding:8px;
    line-height: .5em;
    margin-bottom: 10px;
  }

  .more-btn {
    background-color:#9370DB;
    border-style: none;
    border-radius: 20px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
  }

  .details {
    display: inline-block;
    margin-left: 10px;
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
  }


  .scroll {
    overflow-y: scroll; 
    height: 500px;
  }

/*MAIN PAGE - QLINK CONNECT*/
  .user-code {
    width:200px;
    height:200px;
    border-radius:50%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
    margin: 50px auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: .05em;
    font-size:34px;
    color:#fff;
    line-height:200px;
    text-align:center;
  }