{{!-- NavBar --}}
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span>
            <i class="fa fa-bars fa-bars-style fa-lg" href="main.html" aria-hidden="true"></i>
        </span>
    </button>
    
    <button>
        <span>
            <a href="main.html"> 
                <i class="fa fa-plus fa-plus-style fa-lg" aria-hidden="true"></i>
            </a>
        </span>
    </button>
    
    {{!-- Hamburger Menu --}}
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="profile.html">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/connections">Connections</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login.html" id="sign-out-button">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>


<div id="container-wrap">
    <div id="bg"></div>
    <div class="container text-center">
        <img class="img-circle" src="./images/profile_pic.jpg">
        <h4>Josephine Bellini</h4>
        
        <div class="city">
            <!-- <img src="images/location.svg" alt="location"> -->
            <h5><i class="fa fa-map-marker" aria-hidden="true"></i> Chicago</h5>
        </div>
        
        <div id="wrapper">
            <h5 style="float: left; margin-top: 8px; margin-right: 10px;">NOT LOOKING</h5>
            <div style="float: left;">  
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <h5 style="float: left; margin-top: 8px; margin-left: 10px;">HIRE ME</h5>
        </div>

        <h5>Full-Stack Developer</h5>
        <h5>Sick Company</h5>

        <div id="bio">
            <p>
                Lorem is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>

        <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
    </div>
</div>