<div style="margin-top: 40px; margin-bottom: 40px;">
    <h1> QLINK </h1>
</div>

<div class="container">
    <form action="/signup" method="POST" class="scroll">

        <div class="form-group">
          <label for="inputName">First Name</label>
          <input type="text" class="form-control form-box-style" id="inputName" placeholder="Enter First Name" name="first_name">
        </div>

        <div class="form-group">
          <label for="inputName">Last Name</label>
          <input type="text" class="form-control form-box-style" id="inputName" placeholder="Enter Last Name" name="last_name">
        </div>

        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control form-box-style" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" name="email">
        </div>
          
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control form-box-style" id="inputPassword" placeholder="Enter Password" name="user_password">
        </div>

        <div class="form-group">
          <label for="inputCity">City</label>
          <input type="text" class="form-control form-box-style" id="inputCity" placeholder="Enter City" name="city">
        </div>

        <div class="form-group">
          <label for="inputCompany">Company</label>
          <input type="text" class="form-control form-box-style" id="inputCompany" placeholder="Enter Company" name="organization">
        </div>

        <div class="form-group">
          <label for="inputTitle">Job Title</label>
          <input type="text" class="form-control form-box-style" id="inputTitle" placeholder="Enter Job Title" name="role">
        </div>

        <div class="form-group">
          <label for="textarea">Your Bio</label>
          <textarea class="form-control form-box-style" id="inputBio" rows="3" name="bio"></textarea>
        </div>

        <div class="form-group">
          <label for="photoFile">Upload Photo</label>
          <input type="file" class="form-control-file" id="photoFile" name="user_photo">
        </div>

        <div class="form-group">
          <label for="inputLinkedin">LinkedIn</label>
          <input type="url" class="form-control form-box-style" id="inputLinkedin" placeholder="Paste your LinkedIn URL" name="linkedin">
        </div>

        <div class="form-group">
          <label for="inputTwitter">Twitter</label>
          <input type="url" class="form-control form-box-style" id="inputTwitter" placeholder="Paste your Twitter URL" name="twitter">
        </div>

        <div class="form-group">
          <label for="inputWebsite">Your Website</label>
          <input type="url" class="form-control form-box-style" id="inputWebsite" placeholder="Paste your Personal Website URL" name="other_website">
        </div>

        <div class="form-group">
          <label for="formCustomSelect">Ready to share your talent?</label>
          <select class="custom-select" id="formCustomSelect">
            <option selected>Choose...</option>
              <option value="1">Not Looking</option>
              <option value="2">Hire Me</option>
          </select>
        </div>

        <button type="submit" class="btn sign-in-btn btn-lg btn-block" id="create-new-account">
            <a>Submit</a>
        </button>

    </form>
</div>